.landingpage-header-logo {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #144673;
}
.class-home{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1A6FBC;

}
.class-room{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1A6FBC;

}
.class-fac{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1A6FBC;
}
.class-contact{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1A6FBC;
    }
.header-nav-item a:hover {
    color: #144673;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: #1A6FBC;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
}

.hamburger:focus {
    outline: none;
}

@media screen and (max-width:767px) {
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .nav-ul.show {
        display: flex;
    }
    .hamburger {
        display: block;
        margin-left: 350px;
    }
}
